
<div class="card-trip">
  <div class="rocket-card-image">
    <%= cl_image_tag booking.rocket.photo.key, height: 200, width: 200, crop: :fill %>
    <%= cl_image_tag booking.rocket.user.photo.key, height: 40, width: 40, radius:"max"%>
  </div>
  <div class="card-trip-infos">
    <div>
      <h2>Recap of your booking :</h2>
      <ul>
        <li>Rocket: <b><%= booking.rocket.name %></b></li>
        <li>Your trip begins: <b><%= booking.start_date %></b></li>
        <li>You will be back to eath at: <b><%= booking.end_date %></b></li>
        <li>You will be away: <b><%= booking.end_date - booking.start_date + 1 %> days</b></li>
        <li>Going to: <b><%= booking.rocket.destination %></b></li>
      </ul>
    </div>
    <div>
      <h2 class="card-trip-pricing">Total StarCoins : <b><%= booking.price %></b></h2>
    </div>
  </div>
</div>
