      <div class="card-trip">
        <%= cl_image_tag booking.rocket.photo.key, height: 200, width: 200, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h3>Recap of your booking :</h1>
             <h4>Start date : <%= booking.start_date %></h3>
             <h4>End date : <%= booking.end_date %></h3>
             <h4>Total duration of your trip : <%= booking.end_date - booking.start_date + 1 %></h3>
            <h3 class="rocket-show-destination">Going to : <%= booking.rocket.destination %></h3>
          </div>
          <h3 class="card-trip-pricing">Total StarCoins : <%= booking.price %></h3>
          <h2><%= cl_image_tag booking.rocket.user.photo.key, height: 40, width: 40 %>
        </div>
      </div>
