<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>Best Rockets to Rent</h1>
    </div>
  </div>
  <%# <div>
    <form class="form-inline d-flex">
      <input type="text" class="form-control" placeholder="Search for a Rocket..." id="search-input">
      <button type="submit" class="btn btn-light pl-2">Search</button>
    </form>
  </div> %>
  <%= form_with url: rockets_path, method: :get, class: "d-flex m-4" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search for a rocket"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <div class="row">
    <div class="col">
      <% if @query %>
        <p>You searched for <strong><%= @query %></strong>. We found <%= @rockets.count %> rockets out of our <%= Rocket.count %> on our website.</p>
      <% else %>
        <p>We found <%= @rockets.count %> rockets out of <%= Rocket.count %> on our website.</p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @rockets.each do |rocket| %>
      <div class="col-md-4">
        <div class="rocket-card">
          <div class="rocket-card-image">
            <% if rocket.photo.key %>
              <%= cl_image_tag(rocket.photo.key, width: 400, height: 180, crop: :fill) %>
            <% end %>
          </div>
          <div class="rocket-card-content">
            <div class="rocket-card-title">
              <h4><%= rocket.name %></h4>
            </div>
            <p>Destination: <%= rocket.destination %></p>
            <p><%= rocket.description %></p>
            <div class="flex">
              <div class="flex align-items-center">
                <i class="fa-solid fa-star"></i>
                <span><%= rocket.rating %></span>
              </div>
              <div class="flex align-items-center ms-3">
                <span>Price: <%= rocket.price_per_earthday %> StarCoins</span>
              </div>
            </div>
            <div style="width: 100%; height: 250px;"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>
          <div class="rocket-card-actions">
            <%= link_to "Book this rocket", rocket_path(rocket), class: "btn btn-flat", target: :_blank %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
