<div class="container">
  <div class="column">
    <div class="row">
      <h1>Pages#home</h1>

      <% if user_signed_in? %>
        <p>Hello <%= current_user.email %></p>
      <% else %>
        <p>You are not logged in</p>
      <% end %>
    </div>
      <h2>Ariane offer</h2>
      <%= cl_image_tag "https://res.cloudinary.com/dton44gcy/image/upload/v1674143027/zpvpuig7nboiuwzoiy5h.jpg", alt: "Rocket from Hergé",
          width: 300, height: 300 %>
      <%= cl_image_tag "https://res.cloudinary.com/dton44gcy/image/upload/v1674142938/zwfrd11wtkzutrbdppdn.jpg", alt: "Rocket from Hergé",
          width: 300, height: 300 %>
      <%= cl_image_tag "https://res.cloudinary.com/dton44gcy/image/upload/v1674142927/ay7z0avon645q6p1ccuo.jpg", alt: "Rocket from Hergé",
          width: 300, height: 300 %>
      <%= cl_image_tag "https://res.cloudinary.com/dton44gcy/image/upload/v1674142965/qvny5tifwfb9k3jtpdbr.jpg", alt: "Rocket from Hergé",
          width: 300, height: 300 %>
      <%= cl_image_tag "https://res.cloudinary.com/dton44gcy/image/upload/v1674142955/aq6bkxpaaucxungw5iv8.jpg", alt: "Rocket from Hergé",
          width: 300, height: 300 %>
      <%= cl_image_tag "https://res.cloudinary.com/dton44gcy/image/upload/v1674142972/denlofm2xnwworw31gf1.jpg", alt: "Rocket from Hergé",
          width: 300, height: 300 %>
      <%= cl_image_tag "https://res.cloudinary.com/dton44gcy/image/upload/v1674144065/yo17oginicrucm9dyefi.jpg", alt: "Rocket from Hergé",
          width: 300, height: 300 %>
  </div>
</div>
