<div class="container">
  <div class="column">
    <div class="row">
      <h1>Indulge yourself with a fantastic Rocket Experience !</h1>

      <% if user_signed_in? %>
        <p>Hello <%= current_user.email %></p>
      <% else %>
        <p>You are not logged in</p>
      <% end %>
    </div>
      <h2>Explore our Unique Rocket offering</h2>
      <%= cl_image_tag "https://res.cloudinary.com/dton44gcy/image/upload/v1674142938/zwfrd11wtkzutrbdppdn.jpg", alt: "Ariane 1",
          width: 300, height: 300 %>
      <%= cl_image_tag "https://res.cloudinary.com/dton44gcy/image/upload/v1674142927/ay7z0avon645q6p1ccuo.jpg", alt: "Ariane 2",
          width: 300, height: 300 %>
      <%= cl_image_tag "https://res.cloudinary.com/dton44gcy/image/upload/v1674142955/aq6bkxpaaucxungw5iv8.jpg", alt: "Ariane 4",
          width: 300, height: 300 %>
      <%= cl_image_tag "https://res.cloudinary.com/dton44gcy/image/upload/v1674142965/qvny5tifwfb9k3jtpdbr.jpg", alt: "Ariane 3",
          width: 300, height: 300 %>
      <%= cl_image_tag "https://res.cloudinary.com/dton44gcy/image/upload/v1674142972/denlofm2xnwworw31gf1.jpg", alt: "Ariane 5",
          width: 300, height: 300 %>
      <%= cl_image_tag "https://res.cloudinary.com/dton44gcy/image/upload/v1674144065/yo17oginicrucm9dyefi.jpg", alt: "Ariane 6",
          width: 300, height: 300 %>
  </div>
</div>
